doctype html
html
  head
    meta(charset='utf-8')/
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')/
  
  body
    .body-wrapper
      .home-background

      header
        a(class='donate' href='https://ko-fi.com/cubari')
          span &#x2039;
          | &nbsp;&nbsp;send coffee&nbsp;&nbsp;
          span &#x203A;
        a(class='cubari-logo' href='/')

    block content
